extends ./template.jade

block content
  .info-container
    a.back(href='/') &lt Back
    br
    .large.image
      img(width='1166px', src='/public/justin-header-web.jpg')
    p
      | I'm a third year mechanical and ocean engineer studying at MIT. I thrive in a competitive workplace with challenging problems and interesting people. I enjoy learning new things and value thoughtful design.
    p
      | At school, I study mechanical and ocean engineering, a subset within the mechanical engineering department. This path adds system level analysis to the standard degree with additional focus on designing complex systems such as ocean ships, oil rigs, and ROVs. The degree aligns with my career goals of designing and integrating complex systems.
    p
      | I hope you explore a few of my projects. While none are quite cutting-edge, I find them interesting and diverse. They have been influential in exposing me to many different aspects of design.
    p 
      | If you have a minute, I would start with my 
      a(href='approach') thoughts on the design process
      | . I think it describes me well and provides some context as you explore the projects.
    p
      | Best,
    p 
      | Justin
    br
    a.back(href='/') &lt Back