extends ./template.jade
block content
  .info-container
    a.back(href='/') &lt Back
    br
    h3 CAD Elephant
    .image.left
      img(height='320px', src='/public/elephant-web.png')
    p
      | During my sophomore year I had the fantastic opportunity to travel to Botswana with MIT's D-Lab. The running joke within my group was that I would ride an elephant—the joke being that while people ride Asian elephants, African elephants are more notorious for killing people and such. After the trip, I made this elephant as a present for my trip leader. The gift itself was this model, split into horizontal layers with Rhino's contour command and lasercut out of MDF.
    br
    a.back(href='/') &lt Back
