extends ./template.jade
block content
  .row
    a.tile.small(href='/about')
      .tile-container
        .tile-pic
          img.tile-pic(src='/public/justin-tile-web.jpg')
        .tile-cap
          | About Me
    a.tile.small(href='/resume')
      .tile-container
        .tile-pic
          img.tile-pic(src='/public/resume-tile-web.png')
        .tile-cap
          | Resume
    a.tile.small(href='/process')
      .tile-container
        .tile-pic
          img.tile-pic(src='/public/elephant-tile-web.png')
        .tile-cap
          | Process
  .row
    a.tile.small(href='/infocycle')
      .tile-container
        .tile-pic
          img.tile-pic(src='/public/infocycle-fork-tile.jpg')
        .tile-cap
          | InfoCycle
    a.tile.medium(href='/rockers')
      .tile-container
        .tile-pic
          img.tile-pic(src='/public/rockers-waterjet-tile.jpg')
        .tile-cap
          | Rockers and ARB
  .row
    a.tile.small(href='/daq')
      .tile-container
        .tile-pic
          img.tile-pic(src='/public/xbee-web.jpg')
        .tile-cap
          | FSAE DAQ
    a.tile.small(href='/tracksim')
      .tile-container
        .tile-pic
          img.tile-pic(src='/public/tracksim-tile.png')
        .tile-cap
          | Track Sim
    a.tile.small(href='/charcoal')
      .tile-container
        .tile-pic
          img.tile-pic(src='/public/charcoal-explode-tile-web.png')
        .tile-cap
          | Charcoal Sensor