extends ./template.jade
block content
  .info-container
    a.back(href='/') &lt Back
    br
    h3 InfoCycle (Ford)
    .large.image
      img(width='1166px', src='/public/infocycle-fork2-web.jpg')
    p
      | Technology is making cars smarter—and roads safer. During my summer at Ford's Innovation Center in Palo Alto, I worked with another intern to explore the possibilities afforded by a sensor-connected bicycle. The result, the InfoCycle, is a small, fork-mounted sensor box that communicates via bluetooth with your mobile phone. An app displays data in real time and pushes your data to a central repository for big data analysis. This data could be used to inform drivers or cyclists of potential congestion, warn cyclists of harsh road conditions, and guide city planners to improve mobility within the city.
    .image.left
      img(width='600px', src='/public/infocycle-render-web.png')
    p
      | The final deliverable took the form of an array of off-the-shelf sensors packaged into a 3D printed enclosure. One guiding design requirement was that it be possible for the box to be constructed by anyone with basic soldering skills and a 3D printer. This led to a design that played to the strengths of rapid prototyping techniques in order to maintain robust performance while cycling.
    p
      | For some more sensor projects, check out the 
      a(href='/charcoal') Charcoal Sensor
      |  or the 
      a(href='/daq') FSAE DAQ
      | . For some machined parts, check out the 
      a(href='/rockers') FSAE Rockers and Anti-Roll Bars
      | .
    br
    a.back(href='/') &lt Back
