extends ./template.jade
block content
  .info-container
    a.back(href='/') &lt Back
    br
    h3 Formula SAE Rockers and Anti-Roll Bars
    .large.image
      img(width='1166px', src='/public/rockers-waterjet-web.jpg')
    p
      | Interfacing with nearly every suspension component on the car, the rockers and roll bars provide a great excuse to get familiar with sketch blocks, derived parts, and design tables. With so many clearance checks, sub-assemblies, and complex machining fixtures, rocker design has the potential to be very time consuming. By restructuring this part to be entirely driven by a master sketch, Solidworks manages updates, and designs can be iterated quickly. This structure was invaluable during last minute packaging changes and suspension updates.
    .image.left
      img(height='400px', src='/public/rockers-finished-web.jpg')
    p
      | The anti-roll bar presents an interesting design problem. As one of the only components on the car designed to significantly bend, the stiffness calculations were involved. Solidworks Simulation provided good starting estimates, but it was important to consider potential non-linearities in the sway plate's adjustability. This was a great opportunity to dig deep into Solidworks Simulation.
    .image.right
      img(height='310px', src='/public/arb-finished-web.jpg')
    p
      | Machining both the rockers and anti-roll bar sway plate were a lot of fun with our new CNC equipment. The rockers were waterjet to a rough outline and then held in softjaws for milling operations. The ARB was turned on a CNC ProtoTrack lathe and then finished on a HASS VF-2 held with a set of collet blocks.
    p
      | For another car-related project, check out the 
      a(href='/daq') FSAE DAQ
      |  or the 
      a(href='/tracksim') Track Simulation
      | . For a sensor project, check out the 
      a(href='/infocycle') InfoCycle
      |  or the 
      a(href='/charcoal') Charcoal Sensor
      | .
    br
    a.back(href='/') &lt Back
